@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;

.servicios__titulo {
    @include m.flex(center, center)
}

.servicios {
    background-color: v.$color-principal;
}

.servicios__titulo {
    color: v.$texto-secundario;
    font-size: 46px;
}


.servicios__imagen {
    @include m.flex(none, center);
    gap: 15px
}

.servicios__card_titulo {
    font-size: 24px;
    color: v.$texto-principal;
    font-weight: 700;
}

.servicios__card_parrafo {
    font-size: 15px;
    font-weight: 600;
    color: v.$texto-principal-light;
}

.servicios__icono {
    height: 60px;
}